.product__page{
    padding-top: 93px;
}

.product__page-header{
    background-color: #F8F8F8;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

.product__page-header div{
    letter-spacing: 0.06em;
    color: #121212;
    font-size: 24px;
    font-weight: 600;
}

.product__image{
    margin-left: 20%;
}

.product__image img{
    width: 448px;
    height: 560px;
    margin-bottom: 30px;
}

.product__page-body{
    display: flex;
}

.product__information{
    margin-left: 30px;
    width: 100%;
}

.color__variations img{
    width: 64px;
    height: 64px;
}

.size__variations{
    margin-top: 32px;
}

.size__title{
    letter-spacing: 0.06em;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: #121212;
    opacity: 0.6;
}

.size__value{
    font-size: 12px;
    color: #121212;
    font-weight: 600;
    text-transform: uppercase;
}

.size__btns button{
    width: 40px;
    height: 40px;
    background-color: #F8F8F8;
    border: none;
    margin-right: 16px;
    margin-top: 16px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
}

.size__btns .buttonActive{
    border: 2px solid #121212;
}

.product__information hr{
    margin-top: 68px;
    border-color: #E6E6E6;
    opacity: 0.6;
}

.product__information hr:nth-of-type(2){
    margin-top: 32px;
    border-color: #E6E6E6;
    opacity: 0.6;
}

.product__price{
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: #121212;
}

.product__buy{
    display: flex;
    align-items: center;
    margin-top: 32px;
}

.product__buy-btn button{
    text-transform: uppercase;
    background-color: #121212;
    color: #ffffff;
    border: none;
    cursor: pointer;
    margin-left: 24px;
    width: 156px;
    height: 48px;
}

.product__advantages{
    display: flex;
    justify-content: space-around;
    margin-top: 35px;
}

.product__advantages div{
    opacity: 0.6;
    color: #121212;
    font-weight: 500;
    font-size: 14px;
    user-select: none;
}

.product__advantages div:last-child{
    cursor: pointer;
}

.product__checkout{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;
}

.product__checkout span{
    letter-spacing: 0.06em;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}
.product__checkout hr{
    border-color: #E6E6E6;
    opacity: 0.6;
    width: 60%;
    margin-top: 0;
}

.payment-methods{
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    .product__page{
        padding-top: 50px;
    }
}
@media (min-width: 768px) and (max-width: 1439px) {
    .product__page{
        padding-top: 88px;
    }

}

@media (min-width: 1024px) {
    .product__price{
        font-size: 20px;
    }
}

@media (min-width: 1240px) and (max-width: 1439px){
    .product__advantages{
        display: grid;
        grid-template-columns: repeat(auto-fill, 90%);
        grid-template-rows: repeat(3, 30px);
        row-gap: 20px;
    }
}

@media (min-width: 0px) and (max-width: 1023px) {
    .product__page-header div{
        font-size: 16px;
    }
    .product__image{
        margin-left: 0;
    }
    .product__image img{
        width: 150px;
        height: 200px;
    }
    .size__btns button{
        width: 30px;
        height: 30px;
        font-size: 8px;
    }
    .product__buy{
        flex-direction: column;
        align-items: flex-start;
    }
    .product__price{
        margin-bottom: 10px;
        font-size: 16px;
    }
    .product__buy-btn button{
        margin-left: 0;
        width: 130px;
    }
    .product__advantages{
        display: grid;
        grid-template-columns: repeat(auto-fill, 90%);
        grid-template-rows: repeat(3, 30px);
        row-gap: 20px;
    }
    .product__checkout{
        margin-top: 16px;
    }
    .product__checkout span{
        font-size: 12px;
    }
}

@media (min-width: 1024px ) and (max-width: 1439px) {
    .product__image img{
        width: 300px;
        height: 400px;
    }
}