.card{
    cursor: pointer;
    width: 255px;
    height: 318px;
    margin-bottom: 80px;
}
.card__image{
    width: 255px;
    height: 318px;
}
.card__title{
    padding-top: 12px;
    color: #121212;
    opacity: 0.6;
    font-size: 14px;
    padding-bottom: 12px;
}

.card__price{
    font-size: 14px;
    font-weight: 700;
}