.shopping-cart{
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    height: 100%;
    width: 400px;
    z-index: 3;
    overflow-y: scroll;
    box-shadow: -10px 5px 10px rgba(0, 0, 0, 0.32);
}

.cart__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #121212;
    padding: 13px 24px 13px 24px;
}

.cart__title{
    color: white;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 6px;
}


.cart__close-btn::after{
    display: inline-block;
    transform: scale(1.5);
    content: '\00d7';
    color: white;
    cursor: pointer;
    margin-top: 6px;
}

.cart__body{
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
}

.shopping__cart-total{
    margin-top: 25px;
}

.shopping__cart-total .total-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shopping__cart-total .total-price .total{
    font-size: 16px;
    font-weight: 400;
    color: #121212;
}

.shopping__cart-total .total-price .price{
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.shopping__cart-total button {
    padding: 17px;
    width: 100%;
    background-color: #121212;
    border: 2px solid #121212;
    color: white;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    opacity: 0.9;
    margin-top: 21px;
    cursor: pointer;
}

.emptyCart{
    margin-top: 24px;
    opacity: 0.8;
}






