.women__section{
    padding-top: 100px;
}

.category__header{
    display: flex;
    justify-content: space-between;
}

.category__title{
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
    font-size: 22px;
    font-weight: 600;
}
