.women__section{
    padding-top: 100px;
}

.category__header{
    display: flex;
    justify-content: space-between;
}

.category__title{
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
    font-size: 22px;
    font-weight: 600;
}

@media screen and (max-width: 479px) {
    .women__section{
        padding-top: 30px;
    }
    .category__title {
        font-size: 14px;
    }
    .sorting__categories{
        display: none;
    }
}

@media (min-width: 768px) {
    .sorting__categories{
        display: none;
    }
}
