.special__offersBackground{
    height: 580px;
    background: linear-gradient(180deg, #F3F2F2 0%, #DCDBDB 100%);
    display: flex;
    align-items: center;
    position: relative;
    box-shadow: 0 10px 10px #F8F8F8;
}

.special__offersBackground::before{
    position: absolute;
    content: '';
    background-image: url("../../assets/images/SpecialOffers/woman.png");
    width: 323px;
    height: 575px;
    bottom: -4%;
    left: 21%;
}

.special__offersBackground::after{
    position: absolute;
    content: '';
    background-image: url("../../assets/images/SpecialOffers/man.png");
    width: 219px;
    height: 524px;
    bottom: 5%;
    right: 21%;
}


.special__offers{
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer{
    padding: 80px 96px 96px 96px;
    background-color: #fff;
    text-align: center;
}

.offer__type{
    color: #121212;
    opacity: 0.6;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.offer__content{
    margin-top: 16px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
}

.subscribing__form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.subscribing__form input{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 340px;
    margin-top: 32px;
    background-color: #e0e0e0;
    padding: 23px 100px;
    color: #121212;
    opacity: 0.4;
    font-size: 16px;
    font-weight: 500;
    border: none;
}

.subscribing__form button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 340px;
    margin-top: 24px;
    padding: 23px 100px;
    background: #121212;
    border: 2px solid #121212;
    color: white;
    opacity: 0.9;
    cursor: pointer;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
}

@media screen and (max-width: 479px) {
    .special__offersBackground::before, .special__offersBackground::after{
        display: none;
    }
    .offer{
        padding: 40px 48px 48px 48px;
        width: 100%;
    }
    .offer__content{
        font-size: 16px;
    }
    .subscribing__form input{
        width: 100%;
        font-size: 11px;
        padding: 23px 50px;
    }
    .subscribing__form button{
        width: 100%;
        font-size: 11px;
        padding: 23px 50px;
    }
}

@media ( min-width: 480px ) and ( max-width: 1439px ) {
    .special__offersBackground::before, .special__offersBackground::after{
        display: none;
    }
}