.article__card{
    width: 350px;
    height: 342px;
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.article__image img{
    width: 350px;
    height: 276px;
}

.article__preview{
    position: absolute;
    padding: 24px 16px;
    background-color: #fff;
    width: 302px;
    bottom: 0;
    transform: translateY(15%);
}

.article__title{
    letter-spacing: 0.06em;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}

.article__body{
    margin-top: 12px;
    color: #121212;
    opacity: 0.8;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

@media screen and (max-width: 479px) {
    .article__card {
        width: 100%;
        margin-bottom: 0;
    }
    .article__image img{
        width: 100%;
        height: 226px;
    }
    .article__preview{
        width: 90%;
        transform: translateY(0);
    }
    .article__body, .article__title{
        font-size: 12px;
    }
}

@media ( min-width: 768px ) and (max-width: 1023px) {
    .article__card {
        width: 100%;
        margin-bottom: 0;
    }
}

@media ( min-width: 1024px ){
    .article__card {
        width: 100%;
    }
}