.search{
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    height: 100%;
    width: 400px;
    z-index: 999;
    box-shadow: -10px 5px 10px rgba(0, 0, 0, 0.32);
}

.search__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #121212;
    padding: 13px 24px 13px 24px;
}

.search__title{
    color: white;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 6px;
}


.search__close-btn::after{
    display: inline-block;
    transform: scale(1.5);
    content: '\00d7';
    color: white;
    cursor: pointer;
    margin-top: 6px;
}

.search__body{
    padding: 24px;
}

.select-category select{
    width: 100%;
    border: none;
    padding: 15px 16px;
    background-color: #F8F8F8;
    font-size: 14px;
    font-weight: 600;
}

.search-input input{
    position: relative;
    margin-top: 24px;
    padding: 15px;
    width: 100%;
    border: none;
    background-color: #F8F8F8;
}

.search__body hr{
    margin-top: 24px;
    border-color: #E6E6E6;
}

