.footer{
    margin-top: 30px;
}

.footer__nav{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 380px);
}

.footer h2{
    letter-spacing: 0.06em;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 14px;
}

.footer ul li{
    list-style-type: none;
    margin-bottom: 18px;
}

.footer a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: #121212;
    opacity: 0.8;
}

@media screen and (max-width: 376px) {
    .footer__nav {
        grid-template-columns: repeat(1, 250px);
        row-gap: 30px;
    }
    .footer h2, .footer a{
        font-size: 12px;
    }
    .footer ul li{
        margin-bottom: 9px;
    }
}

@media (min-width: 377px) and (max-width: 479px) {
    .footer__nav {
        grid-template-columns: repeat(2, 170px);
        row-gap: 30px;
    }
    .footer h2, .footer a{
        font-size: 11px;
    }
    .footer ul li{
        margin-bottom: 9px;
    }
}

@media ( min-width: 480px ) and ( max-width: 768px ){
    .footer__nav {
        grid-template-columns: repeat(2, 300px);
        row-gap: 30px;
    }
    .footer h2, .footer a{
        font-size: 11px;
    }
    .footer ul li{
        margin-bottom: 9px;
    }
}

@media ( min-width: 769px ) and ( max-width: 1023px ){
    .footer__nav {
        grid-template-columns: repeat(auto-fill, 170px);
        row-gap: 30px;
    }
    .footer h2, .footer a{
        font-size: 11px;
    }
    .footer ul li{
        margin-bottom: 9px;
    }
}

@media ( min-width: 1024px ) and (max-width: 1439px){
    .footer__nav {
        grid-template-columns: repeat(auto-fill, 200px);
        row-gap: 30px;
    }
    .footer h2, .footer a{
        font-size: 12px;
    }
}

@media (min-width: 1440px) and (max-width: 1900px) {
    .footer__nav {
        grid-template-columns: repeat(auto-fill, 250px);
        row-gap: 30px;
    }
}