.blog{
    margin-top: 90px;
}

.blog__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    letter-spacing: 0.06em;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 22px;
    color: #121212;
}

.link a{
    opacity: 0.6;
    color: #121212;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    text-decoration: none;
    padding: 15px;
    transition: .5s;
}

.link a:hover{
    opacity: 1;
    transition: .5s;
}

.blog__articles{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 320px) {
    .title {
        font-size: 16px;
    }
    .link a{
        font-size: 10px;
    }
}