
.categories{
    width: 50%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    margin-right: -30px;
}

.women__category{
    width: 370px;
    height: 350px;
    background-image: url("./../../../images/women.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.men__category{
    width: 355px;
    height: 350px;
    background-image: url("./../../../images/men.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position-y: -10px;
    cursor: pointer;
}

.accessories__category{
    width: 738px;
    height: 360px;
    background-image: url("./../../../images/accessories.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    -ms-background-position-y: -150px;
    background-position-y: -150px;
    cursor: pointer;
}
.women__category-title, .men__category-title, .accessories__category-title{
    background-color: #fff;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
    font-weight: 600;
    padding: 13px 24px;
}