
.categories{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 50% 50%;
    grid-template-areas:
                    "col-1 col-2"
                    "row-1 row-1";
    column-gap: 10px;
    row-gap: 9px;
}

.women__category{
    grid-area: col-1;
    width: 100%;
    height: 100%;
    background-image: url("../../../assets/images/Header/MainCategories/Categories/women.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: height 0.3s, width 0.3s;
    position:relative;
}

.categories a{
    color: #121212;
    text-decoration: none;
}

.women__category::before, .men__category::before, .accessories__category::before{
    box-sizing: inherit;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 2px solid transparent;
    transition: height 0.3s , width 0.3s ;
}

.women__category::after, .men__category::after, .accessories__category::after{
    box-sizing: inherit;
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 2px solid transparent;
    transition: height 0.3s, width 0.3s;
}

.women__category:hover::after, .men__category:hover::after, .accessories__category:hover::after{
    height: 100%;
    width: 100%;
    border: 2px solid #121212;
    border-left: none;
    border-top: none;
    transition: height 0.3s linear,
    width 0.3s linear;
}

.women__category:hover::before, .men__category:hover::before, .accessories__category:hover::before{
    height: 100%;
    width: 100%;
    border: 2px solid #121212;
    border-right: none;
    border-bottom: none;
    transition: height 0.3s linear,
                width 0.3s linear;
}

.men__category{
    grid-area: col-2;
    width: 100%;
    height: 100%;
    background-image: url("../../../assets/images/Header/MainCategories/Categories/men.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position-y: -10px;
    cursor: pointer;
    position: relative;
}

.accessories__category{
    grid-area: row-1;
    width: 100%;
    height: 97.6%;
    background-image: url("../../../assets/images/Header/MainCategories/Categories/accessories.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    -ms-background-position-y: -150px;
    background-position-y: -150px;
    cursor: pointer;
    position: relative;
}
.women__category-title, .men__category-title, .accessories__category-title{
    background-color: #fff;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
    font-weight: 600;
    padding: 13px 24px;
}

@media (max-width: 320px ) {
    .categories{
        width: 100%;
        grid-template-columns: 300px;
        grid-template-areas:
                "col-1"
                "col-2"
                "row-1";
        row-gap: 9px;
        grid-template-rows: none;
    }
    .categories a{
        margin-top: 9px;
        width: 300px;
        height: 300px;
    }
    .women__category{
        width: 300px;
        height: 300px;
    }
    .men__category{
        height: 300px;
        width: 300px;
    }
    .accessories__category{
        width: 300px;
        height: 300px;
        -ms-background-position-y: 0;
        background-position-y: 0;
    }
}