.bestsellers{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    z-index: 10;
    width: 49%;
    overflow: hidden;
    height: 720px;
}


.slider{
    width: 100%;
    position: absolute;
    display: flex;
}

.slider img{
    width: 100%;
    height: 100%;
}

.slide.active{
    animation: slidein .9s forwards;
    position: relative;
    width: 100%;
}
@keyframes slidein {
    from {
        opacity: 0;
        left: 25%;
    }
    to {
        left: 0;
        opacity: 1;
    }
}

.slider__item-content{
    padding: 24px 32px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.arrow{
    width: 5%;
    height: 5%;
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    user-select: none;
}

.arrow.arrow-right{
    opacity: 1;
    right: 3%;
}
.arrow.arrow-left{
    opacity: 1;
    left: 3%;
}

.slider__item-type{
    font-size: 12px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
    opacity: 0.4;
    margin-bottom: 14px;
    font-weight: 600;
}

.slider__item-title{
    font-size: 22px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
    font-weight: 600;
}

@media screen and (max-width: 479px) {
    .bestsellers{
        width: 100%;
        height: 50vh;
    }
    .slider img{
        padding-top: 150px;
    }
    .slider__item-content{
        padding: 10px 18px;
    }
    .slider__item-type{
        font-size: 10px;
        margin-bottom: 6px;
    }
    .slider__item-title{
        font-size: 10px;
    }
    .arrow{
        width: 8vw;
        height: 4vh;
        background-color: rgba(255, 255, 255, 0);
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .arrow{
        background-color: rgba(255, 255, 255, 0);
    }
    .bestsellers{
        height: 55vh;
    }
    .slider img{
        padding-top: 0;
    }
    .slider__item-content{
        padding: 10px 18px;
    }
    .slider__item-type{
        font-size: 10px;
        margin-bottom: 6px;
    }
    .slider__item-title{
        font-size: 10px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .arrow{
        background-color: rgba(255, 255, 255, 0);
    }
    .bestsellers{
        height: 352px;
    }
    .slider__item-content{
        padding: 10px 18px;
    }
    .slider__item-type{
        font-size: 10px;
        margin-bottom: 6px;
    }
    .slider__item-title{
        font-size: 10px;
    }
}
@media ( min-width: 1024px ) and (max-width: 1439px){
    .arrow{
        background-color: rgba(255, 255, 255, 0);
    }
    .bestsellers{
        height: 500px;
    }
    .slider__item-type{
        font-size: 14px;
        margin-bottom: 6px;
    }
    .slider__item-title{
        font-size: 12px;
    }
}